@import "bootstrap-sprockets";
@import "bootstrap";

.carousel{
  max-width: 570px;
  margin-top: 40px;
}

.carousel-control {
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: 140px;
    font-size: 60px;
    font-weight: 100;
    line-height: 25px;
    background: #222;
    border: 3px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
}

.languages{
  color: white;
}

.description{
  text-align:center;
  max-width: 570px;
}

.description h1{
  font-weight: bolder;
}

.description img{
  float: left;
}

.description ul{
  text-align: left;
  margin-left: 50px;
}

.description{
  margin: 1em 0;
}

.pros-and-cons{
  margin-left: auto;
  margin-right: auto;
}

.download-button{
  margin: 20px; 
  padding: 18px 28px;
  font-size: 22px;
  border-radius: 8px;
}


