Title first:

</br><%= @game.title %>

<p> then the description: </p>
<p> <%= @game.review %> </p>

<p> then the pros and cons: </p>
<p> Pros: </p>
<p> <%= @game.review_pros %>
</p>
<p> Cons: </p>
<p> <%= @game.review_cons %>
	</p>


